.conteudo {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.conteudo a {
    padding: 20px;
    text-decoration: none;
    font-weight: 500;
}

.front {
    background-color: #61dafb;
    color: blue;
}

.back {
    background-color: #43853d;
    color: #fff
}